@charset "UTF-8";


a:link {text-decoration: none; color:#fff}
a:visited {text-decoration: none; color:#fff}
a:focus {text-decoration: none; color:#fff}
a:hover {text-decoration: none; color:#53dbd8}
a:active {text-decoration: none; color:#fff}